* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  border-radius: 6px;
  margin-top: 20px;
}

.flexbox-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: flex;
  padding-right: 20px;

  img {
    margin-right: 15px;
  }
}

main {
  background-image: url("https://res.cloudinary.com/dzwpbkn3u/image/upload/v1622152253/background-ld_1_nlywsl.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 55%;
  background-attachment: fixed;
}

p {
  font-family: "Arvo", serif;
  text-align: center;
  font-size: 21px;
}
.font-space{
  letter-spacing: 0.1em
}

.logo {
}

.text-box {
  padding-left: 16px;
  padding-right: 16px;
  min-height: 40vh;
  width: 40%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-para {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}


