<div class="container-booking">
  <div class="card-booking">
    <h1>Your Bookings</h1>
    <div class="container">
      <% @bookings.each do |booking| %>
        <div class="card-product border border-dark">
          <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1621747327/homeless-chic_n3ntvs.png" %>
          <div class="card-product-infos">
            <div>
              <p><b><%= booking.prank.name %></b></p>
              <p><%= booking.date.strftime('%A, %b %d') %></p>
              <p><%= booking.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
