<div class=“container mt-5”>
  <div class=“d-flex>
    <h3>All pranks</h3>
    <%= link_to ‘add prank’, new_prank_path %>
  </div>
  <div id=list-cards class=“d-flex”>
      <% @pranks.each do |prank| %>
       <div id=“image-card” class=“d-flex”>
          <%= link_to prank.name, prank_path(prank) %>
       </div>
    <% end %>
  </div>
</div>
