<div class="container">
  <h1>All pranks</h1>
  <ul>
    <% @pranks.each do |prank| %>
      <li><%= link_to prank.name, prank_path(prank) %></li>
    <% end %>
  </ul>
  <%= link_to 'Add a prank', new_prank_path %>
</div>
