
  <h1>All pranks</h1>
  <div class="container-cards">
    <div class="card-prank">
      <% @pranks.each do |prank| %>
        <div class="card-prank-info">
          <div>
            <h2><%= link_to prank.name, pranks_path(prank) %></h2>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'Add a prank !', new_prank_path %>








 <!--  <ul>
    <% @pranks.each do |prank| %>
      <li><%= link_to prank.name, prank_path(prank) %></li>
    <% end %>
  </ul>

 -->



