<div class="container">
  <ul>
    <li><%= @prank.name %></li>
    <li><%= @prank.content %></li>
    <li><%= @prank.price %></li>
  </ul>
  <%= link_to 'Go back to All pranks', pranks_path %>
</div>
