  <!-- Site footer -->

  <div class="footer">
    <div class="footer-box">
      <div class="footer-icons">
        <h2><i class="fas fa-shoe-prints"></i> Follow us</h2>
        <a href="#"><i class="fab fa-instagram-square"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
      </div>
      <div class="footer-copyright">
          © 2222 Prankt, Inc.
      </div>
    </div>
  </div>



