<h1>Prank't</h1>
<div class="introduction-paragraph">
  <p>Find me in app/views/pages/home.html.erb</p>
</div>
<div class="sign-up">
  <%= link_to 'signup', new_user_registration_path  %>
  <button type="button" class="btn btn-warning">Warning</button>
<%= end %>
</div>
