<main class="bg-white">
<div class="logo">
  <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/c_scale,w_350/v1621996542/logo_hp9w9n.png", alt: "logo" %>
</div>
  <div class="flexbox-container">
    <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/v1622152512/image1194_1_v7chjw.png", alt: "something" %>
      <div class="text-box">
        <div class="intro-para">
          <p class="font-space"><b>Yes, you read it right.</b></br>
            We do pranks, professionally.</br>
        <%= link_to 'See our pranks', pranks_path, class: "btn btn-warning btn-block" %></p>
      </div>
    </div>
  </div>
</main>

