<main>
  <div class="logo">
  <%= image_tag "https://res.cloudinary.com/dzwpbkn3u/image/upload/c_scale,w_350/v1621996542/logo_hp9w9n.png", alt: "logo" %>
</div>
  <div class="flexbox-container">
    <div class="glass">
      <div class="intro-para">
        <p><b>Yes, you read it right.</b></br>
          We do pranks, professionally.</br>
        Jose, Kenn, and Massim like to eat dust and they know it. mmhmm</br>
      <%= link_to 'See our pranks', pranks_path, class: "btn btn-warning btn-block" %>
    </p>
  </div>
</div>
</div>
</div>
</main>
<!-- <footer>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum blablabla...</p>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><%= link_to 'See our pranks', pranks_path %></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
  </footer> -->
