.container-cards {
  width: 1068px;
  margin: 0 auto;
}

.btn {
  background-color: #FB9723;
  border-radius: 15px;
}

.top {
  padding: 5px;
}

.top a {
  text-align: right;
  color: white;
  font-weight: bold;
}

.card-prank {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
  justify-content: space-around;
  // padding: 16px;
}



.prank-name {
  font-size: 18px;
  width: 182px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  // padding-left: 8px;
  // padding-top: 7px;
}


.prank-name a {
  color: #2c2c2c;
  font-size: 25px;
  line-height: 5px;
}



h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

h3 {
  text-align: right;
  font-weight: bold;
  padding: 5px;
}

// img {
//   padding-left: 15px
//   // width="200" height="260"
// }


.card-test {
  border-radius: 15px;
  height: 208px;
  display: flex;
  overflow: hidden;
  // background: #f4f4f4;
  background-color: white;
  width: 340px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  justify-content: space-around;
  padding: 16px;

  background-size: cover;
  align-items: center;
  justify-content: space-around;
}

.card-test img {
  padding-left: 2px;
  width: 85px;
  padding-bottom: 73px;
  margin-top: 26px;
}
