.bottom {
  gap: 50px;
}

.btn {
  background-color: #FB9723;
  color: white;
  border-radius: 15px;
}

.form {
  background-color: white;
  border-radius: 15px;
}

.info {
  background-color: white;
  border-radius: 15px;

}

#name {
  font-family: $headers-font;
}

#new_booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 300px;
  height: 250px;
}

p {
  font-family: $body-font;
}

.top {
  align-items: center;
  gap: 20px;
  height: 300px;
  width: 300px;

  img {
    height: 150px;
  }
}

