.container-booking {
  min-height: 100vh;
}
.container-prank {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.result-button {
  width: 25%;
  margin: 0 auto;
  padding: 10px;
}