.footer {
  background-color: white;
  width: 100%;
  padding: 16px;
  box-shadow: 0 0 24px rgba(0,0,0,0.1);
  margin-top: 16px;
}

.footer-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}
.footer-icons {
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.footer-icons h2 {
  margin: 0;
  margin-right: 16px;

}




.footer-icons a {
  margin-right: 5px;
  font-size: 34px;
  color: #4b53e4;
  text-shadow: 2px 2px 2px (orange);

}
