.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

// .btn {
//   background-color: #FB9723;
//   font-color: white;
// }


.make-fixed {
  position: absolute;
}

.navbar-nav #font-orange {
  color: #FB9723
}


// #list-button {
//   border-style: solid;
//   border-color: #FB9723;
//   a {
//       color: #FB9723;
//       text-decoration: none;
//   }
// }

// #list-button:hover {
//   background-color: #f39e3b;
// }
