.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.make-fixed {
  position: absolute;
}

.navbar-nav #font-orange {
  color: #FB9723
}

