.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 24px rgba(0,0,0,0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.btn {
  background-color: #FB9723;
  font-color: white;
}

.make-fixed {
  position: absolute;
}
