
#search-form {
  margin-left: 330px;
  margin-top: 3px;
  border-radius: 8px;
  display: inline;
  height: 2.8rem;
  width: 350px;
  transition: transform .2s;
}

#search-form:hover {
  transform: scale(1.1);
}

.btn {
  border-radius: 10px;
  border: none;
  margin-bottom: 22px;
  margin-left: 20px;
}

.btn:hover {
  transform: scale(1.1);
}

.title {
  padding-top: 20px;
  padding-bottom: 10px;
  height: 20%;
}
