#search-form {
  margin-top: 3rem;
  border-radius: 8px;
  display: inline;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  height: 2.8rem;
  width: 350px;
  transition: transform .2s;
}

#search-form:hover {
  transform: scale(1.1);
}

.btn {
  border-radius: 10px;
  border: none;
  margin-bottom: 1rem;
}

.btn:hover {
  transform: scale(1.1);
}

.title {
  padding-top: 20px;
  padding-bottom: 10px;
  height: 20%;
  box-shadow: 0 0 24px rgba(0,0,0,0.1);
}
